body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
#board{
    display: flex;
    flex-direction: column;
}
.cellContainer{
    display: flex;
}
.cell{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}